<div class="{{ styles.loadingWrapper }}">
    <div class="{{ styles.dpText }}">
        Виджет загружается
    </div>
    <div class="{{ styles.ringWrapper }}">
        <div class="{{ styles.ldsRing }}"><div></div><div></div><div></div><div></div></div>
    </div>
</div>