<div class="makeroi-tab_description">
    <div class="makeroi-tab_description_gallery">
        <img src="{{ icon_link }}/temp/1.png">
    </div>
    <div class="makeroi-tab_description_text">
        <p style="text-align: center;margin-bottom: 15px;">
            <b style="font-weight: 600;">Описание</b>
        </p>
        <p style="margin-bottom: 15px;">
            Виджет позволяет определить часовой пояс абонента и отобразить местное время региона в котором зарегистрирован данный номер.
        </p>
        <p style="text-align: center;margin-bottom: 15px;">
            <b style="font-weight: 600;">Назначение</b>
        </p>
        <p style="margin-bottom: 15px;">
            Основная задача интеграции — помочь сотрудникам компании выбрать оптимальное время для взаимодействий с клиентами находящимися в других регионах страны.
        </p>
        <p style="text-align: center;margin-bottom: 15px;">
            <b style="font-weight: 600;">Возможности</b>
        </p>
        <ul style="list-style: inherit;list-style-position: inside;">
            <li style="margin-bottom: 8px;">
                Добавляет к номеру телефона  в данных контакта или компании подсказку, отображающую время текущего региона
            </li>
            <li style="margin-bottom: 8px;">
                Окрашивает подсказки в определенный цвет при обнаружении разницы во времени клиента и сотрудника
            </li>
        </ul>
    </div>
</div>